Faker==30.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python_dotenv==1.0.1
robotframework==7.1
robotframework-appiumlibrary==2.1.0
robotframework-browser==18.9.0
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.7
